<h1 class="one"><span id="lighten">THE</span> SOSIANI</SOSIANI></h1>
<h1 class="two"><span id="lighten">LIBRARY</span> PROJECT</h1>
<div class="menu">
    <p class="menu"><a href="#story">story</a></p>
    <hr class="menu">
    <p class="menu"><a href="#gallery">gallery</a></p>
    <hr class="menu">
</div>
<div class="menu"> 
    <hr class="menu" id="one">
    <p class="menu"><a href="#timeline">timeline</a></p>
    <hr class="menu"id="two">
    <a href="#timeline"><p class="menu"><a href="#team">team</a></p>
</div>
<div class="story" id="story">
    <div class="left">
        <h2 >the<br>STORY</h2>
        <p class="blurb">in 2017, there emerged a need far bigger than an of us had tackled. At the time, all getting ready to get into campus, having studied at schools where resources were available, how, we asked, could someone take themselves out of their world if they've never read about it?</p>
    </div>
    <div class="right">
        <div>
            <div class="block"><p class="block">Tracey talked to Ivy and Ivy agreed that something should be done but Tracey would need help. FRIENDS are the first place she looked. And how about Big Hearts Foundation, and Laurence, and Kaunga. Slowly there was Sam and a couple more. It wasn't exactly an army, but that team was full of heart and the will to make things happen. And that's how it started.</p>
            </div>
            <div class="column">
                <p>Several WhatsApp groups later. June '17 - we looked all around us and there plenty of books from our 12 years of school that we could donate and that's when we decided also ask our friends for their books, and ask those friends if they could ask their friends for their books and we then had to name what were doing and thus the BOOKDRIVE began.</p>
            </div>
            <div class="column">
                <p>We made calls, figured out how to make posters, texted and emailed more than we had done before. Books coming in from cousins and exes, and new connections were formed as we texted into the night on how we could centralize our collecting efforts. By the end of July, we had over 1000 books all for a school some of us had not yet even visited.</p>
            </div>
        </div>
    </div>
    <div class="full">
        <div class="block"><p class="block">in August, '17, we made the visit to the school, which was firstly to deliver the books, but secondly, to chart for a way forward. We sat down with the principal and had some porridge, had conversations centered on how the books would serve the students, where would be the infrastructure for getting the students to use the books, how would the impact be actualized. Without a library, the books would be stored off in one of the teacher's offices. And THAT was something we didn't see as a fitting solution. But the only way was to have a dedicated library. And several dissatisfied people later, we focused our efforts on renovating one of the rooms in the school that the headteacher designated as the to-be library,</p>
    </div>
    <div class="left">
        <p>in November, we directed donations to an m-changa crowd-source funding portal, where anyone who wanted to donate could do so.</p>
        <div>
            <div class="ten">
                <p>20<br>18</p>
            </div>
            <div class="ninety">
                <p>is when things began to take shape, the team knew how to work together much more and grew into the project. How could we really use OUR NETWORKS to get this done?</p>
            </div>
            <p>Within those among our friend groups, could we come together and raise our voices - for the cause?</p>
        </div>
    </div>
    <div class="right">
        <p>Could we gather and raise the imaginations of those around us to believe in what we saw? Could we bring the different interests together to <span style="font-style:italic">one common goal?</span> 
        <p>These questions and several brainstorming sessions later, we decided to organizing a concert to raise funds. Dubbed BEATS FOR BOOKS, we began reaching out to our friends and talking to them about it, with the aim of making the proceeds all go towards renovation of the library and putting up of shelves at Sosiani Primary School. We watched as the idea itself grew wings and breathe life into the project. </p>
        <p>Staged for late March, we were offered venue space by PAWA254, one of our friends offered to help with equipment, and we had several performers on the schedule including <a href="" class="showpic" id="cece">Catherine Macharia</a>, <a href="" class="showpic" id="gg">GG Sax</a>, <a href="" class="showpic" id="gabu">Gabriel Yokwe 'Gabu'</a>, and <a href="" class="showpic" id="philie">Philip Kombo 'Philie'</a>. The full list<a href="" class="showpic" > is here. </a></p>
    </div>
</div>
<div class="timeline" id="timeline">
    <h2 class="timeline">TIME<span style="font-style:italic">line</span></h2>
</div>

<div class="gallery" id="gallery">
    <div>
        <h2 class="gallery" id="g">g</h2>
        <h2 class="gallery" id="allery">all<br>ery</h2>
    </div>
</div>

<div class="team" id="team">
    <div class="teamTtl">
        <h2 class="team" id="the">THE</h2>
        <h2 class="team" id="team">TEAM</h2>
    </div>
</div>
