<h1 class="one"><span id="lighten">THE</span> SOSIANI</SOSIANI></h1>
<h1 class="two"><span id="lighten">LIBRARY</span> PROJECT</h1>
<div class="menu">
    <p class="menu">story</p>
    <hr class="menu">
    <p class="menu">gallery</p>
    <hr class="menu">
</div>
<div class="menu"> 
    <hr class="menu" id="one">
    <p class="menu">timeline</p>
    <hr class="menu"id="two">
    <p class="menu">team</p>
</div>