<h1 class="one"><span id="lighten">THE</span> SOSIANI</SOSIANI></h1>
<h1 class="two"><span id="lighten">LIBRARY</span> PROJECT</h1>
<div class="menu">
    <p class="menu"><a href="#story">story</a></p>
    <hr class="menu">
    <p class="menu"><a href="#gallery">gallery</a></p>
    <hr class="menu">
</div>
<div class="menu"> 
    <hr class="menu" id="one">
    <p class="menu"><a href="#timeline">timeline</a></p>
    <hr class="menu" id="one">
    <a href="#timeline"><p class="menu"><a href="#team">team</a></p>
    <hr class="menu" id="one">
    <a href="#documentation"><p class="menu"><a href="#documentation">documentation</a></p>

</div>
<div class="timeline" id="timeline">
    <h2 class="timeline">TIME<span style="font-style:italic">line</span></h2>
    <div>
        <img class="timeline" src="/css/images/timeline.png" alt="">
    </div>
</div>
<div class="story" id="story">
    <div class="left">
        <h2 >the<br>STORY</h2>
        <p class="blurb">in 2017, there emerged a need far bigger than an of us had tackled. At the time, all getting ready to get into campus, 
            having studied at schools where resources were available, how, we asked, could someone take themselves out of their world if they've never read about it?</p>
    </div>
    <div class="right">
        <div>
            <div class="block"><p class="block">Tracey talked to Ivy and Ivy agreed that something should be done but Tracey would need help. 
                FRIENDS are the first place she looked. And how about Big Hearts Foundation, and Laurence, and Kaunga. Slowly there was Sam and a couple more. 
                It wasn't exactly an army, but that team was full of heart and the will to make things happen. And that's how it started.</p>
            </div>
            <div class="column">
                <p>Several WhatsApp groups later. June '17 - we looked all around us and there plenty of books from our 12 years of school that we could donate and that's when we decided also ask our friends for their books, 
                    and ask those friends if they could ask their friends for their books and we then had to name what were doing and thus the BOOKDRIVE began.</p>
            </div>
            <div class="column">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/P3Ecy-_Ndpo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>We made calls, figured out how to make posters, texted and emailed more than we had done before.</p>
            </div>
        </div>
    </div>
    <hr class="story">
    <div class="left">
        <p>We partnered with Big Hearts Foundation who ran their organization from Eldoret, the town that Sosiani Primary School is located. 
            Books coming in from cousins and friends alike, and new connections were formed as we texted into the night on how we could centralize our collecting efforts. 
            By the end of July, we had over 1000 books all for a school some of us had not yet even visited.
            In August, '17, we made the visit to the school, which was firstly to deliver the books, but secondly, to chart for a way forward. 
            </p>
                <img width="100%" src="/images/posters-and-promotional/book-delivery.jpg" alt="">
        <div class="within-col">
            <img src="/css/images/book-delivery.jpg" alt="">
        </div>
    </div>
    <div class="right" style="vertical-align: top;">
        <div style="text-align: center;">
        <iframe style="padding-top: 5%;" width="560" height="315" src="https://www.youtube.com/embed/7oWgf0eNgfI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <p>
            As much fun as we had getting to work with each other, this power - to come together for something greater than us, is one of the most important lessons we learned.

            We sat down with the principal and had some porridge, had conversations centered on how the books would serve the students, where would be the infrastructure for getting the students to use the books, how would the impact be actualized. 
            Without a library, the books would be stored off in one of the teacher's offices. And THAT was something we didn't see as a fitting solution. But the only way was to have a dedicated library. And several dissatisfied people later, we focused our efforts on renovating one of the rooms in the school that the headteacher designated as the to-be library.</p>
            <br>
            
        </p>
    </div>
    <hr class="story">
    <div class="left">
        <p>in November, we directed donations to an m-changa crowd-source funding portal, where anyone who wanted to donate could do so.</p>
        <div>
            <div class="ten">
                <p>20<br>18</p>
            </div>
            <div class="ninety">
                <p>is when things began to take shape, the team knew how to work together much more and grew into the project. How could we really use OUR NETWORKS to get this done?</p>
            </div>
            <p></p>
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aQSaFA55Drk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="right">
        <p>
            Within those among our friend groups, could we come together and raise our voices - for the cause?
            Could we gather and raise the imaginations of those around us to believe in what we saw? Could we bring the different interests together to <span style="font-style:italic">one common goal?</span> 
        <p>These questions and several brainstorming sessions later, we decided to organizing a concert to raise funds. Dubbed BEATS FOR BOOKS, we began reaching out to our friends and talking to them about it, with the aim of making the proceeds all go towards renovation of the library and putting up of shelves at Sosiani Primary School. We watched as the idea itself grew wings and breathe life into the project. </p>
        <p>Staged for late March, we were offered venue space by PAWA254, one of our friends offered to help with equipment, and we had several performers on the schedule including <a href="" class="showpic" id="cece">Catherine Macharia</a>, <a href="" class="showpic" id="gg">GG Sax</a>, <a href="" class="showpic" id="gabu">Gabriel Yokwe 'Gabu'</a>, and <a href="" class="showpic" id="philie">Philip Kombo 'Philie'</a>. The full list<a href="" class="showpic" > is here. </a></p>
        <p>When the day came, it felt so surreal but we were also excited to make it happen</p>
    </div>

    <hr class="story">

    <div class="left">
        <div>
            <figure class="show" style="padding-bottom: 20%%;">
                <figcaption>Cece performing</figcaption>
                <img class="show" src="/css/images/cece-performance.jpg" alt="Cece performing"  >
            </figure>
            <figure class="show">
                <img class="show" src="/css/images/denue-performance.jpg" alt="Denue performing" >
                <figcaption>Denue performing</figcaption>
            </figure>
        </div>
    </div>
    <div class="right">
        <figure class="speaker">
            <img class="speaker" src="/css/images/tracey-speaking.jpg" alt="Tracey Speaking" >
            <figcaption>From left: Billy, Tracey & Laurence</figcaption>
        </figure>
    </div>
    <hr class="story">
    <div class="left">
        <p>The crowd showed up! And we were so thankful for all the support that we received at the event and even beyond. 
            We raised a total of about 50,000 KES during the event.</p>
        <p>
            The actual work then had to get going. 
            After expenses related to the event venue, equipment and compensating the performers for travel, 
            we directed all the remaining funds, about 30,000 towards construction of shelves. 
            Denue led this effort in making sure that the shelves were constructed at the school library. 
            And in August, we paid one more visit to the school to shelve the books and launch the library. 
        </p>
    </div>
    <div class="right">
        <figure class="books">
            <img class="books" src="/css/images/students-n-library.jpg" alt="Students and a teacher in the library" >
            <figcaption>Students and teachers in the library</figcaption>
        </figure>
        
    </div>
    <figure class="books">
            <img class="books" src="/css/images/books-on-shelves.jpg" alt="Books on shelf" >
            <figcaption>Books placed on shelves</figcaption>
    </figure>
    <hr class="story">

    <div>
        <p>There was still much left to do after August. 
            The library needed seats and chairs and a working lending system. And - of course - an official launching with the students and teachers. 
            The project was later picked up by Safaricom.
        <br>
            We couldn't have done all that we did without the support of every single person who believed in us, 
            who contributed a book or two, who attended the concert, 
            who listened to us talk about an idea that at some points seemed very far off from becoming a reality. 
            We really do appreciate you all.
        </p>
    </div>
</div>


<div class="gallery" id="gallery">
    
        <div>
            <a href="">
            <h2 class="gallery" id="g">g</h2></a>
            <a href="">
            <h2 class="gallery" id="allery">all<br>ery</h2></a>
        </div>
    </a>
</div>

<div class="team" id="team">
    <div class="teamTtl" style="text-align: center;">
        <h2 class="team" id="the">THE</h2>
        <h2 class="team" id="team">TEAM</h2>
    </div>
    <div class="teammembers">
        <p>  Tracey Osogo
        </p>
        <p>  Kaunga Kyule
        </p>
        <p>  Sam Nyamwange
        </p>
        <p>  Collins Osoro
        </p>
    </div>
    <div class="teammembers">
        <p>  Loise Wachira
        </p>
        <p> Kelvin Ntara 
        </p>
        <p>  Sylvia Okuom
        </p>
        <p>  Laurence Ininda
        </p>
    </div>
        <h3 >members from Big Hearts foundation:</h3>
    <div class="teammembers">
        <p>  Angela Kerubo
        </p>
        <p>  Lisa Were
        </p>
        <p>  Denue Senelwa
        </p>
    </div>
    </div>
</div>
<hr class="story">
<div class="documents" id="documentation">
    <div class="document" >
        <h3>Documentation</h3>
        <h4>Project Summary:</h4>
        <iframe src="https://onedrive.live.com/embed?cid=C0C5D1D9882D09AC&amp;resid=C0C5D1D9882D09AC%2190909&amp;authkey=ABxXAy9xFeig1Jc&amp;em=2&amp;wdStartOn=1" width="476px" height="288px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> document, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
    </div>
    <div class="document" >
        <h4>Appeal letter and proposal:</h4>
        <iframe src="https://onedrive.live.com/embed?cid=C0C5D1D9882D09AC&amp;resid=C0C5D1D9882D09AC%2190907&amp;authkey=AGq5snJX4O7hl0Q&amp;em=2&amp;wdStartOn=1" width="476px" height="288px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> document, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
    </div>
</div>

<div class="footer">
<p>Site by <a href="https://lbugasu.github.io/">Laurence</a></p>

<p><a href="https://tamaduni.org/">Tamaduni</a></p>

</div>
