<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://use.typekit.net/ruk2bql.css">
        <link rel="stylesheet" href="css/fonts/cmu-serif/cmun-serif.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        {{{body}}}

    </body>
</html>
